.keyboard-row {
  display:flex;
  width: 100%;
  justify-content: center;
}

.keyboard-key {
  flex: 1;
  border: 1px solid black;
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  height: 40px;
  max-width: 50px;
  margin: 4px;
  padding: 3px 0;
}

.keyboard-key-present {
  background-color: yellow;
}

.keyboard-key-absent {
  background-color: grey;
}

.keyboard-key-correct {
  background-color: green;
}
